{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
    <form method="POST">
        <table>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    <input name="user_login" type="text" value="{{ request.form['user_login'] }}">
                </td>
                <td>
                    <span class="error">{{name_error}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input name="user_pass" type="password">
                </td>
                <td>
                    <span class="error">{{pass_error}}</span>
                </td>
            </tr>
        </table>
        <input type="submit" value="Login">
    </form>
<p><a href="/signup">Create Account</a></p>

{% endblock %}